[submodule "Peacehomesdevelopment/odoo"]
	path = Peacehomesdevelopment/odoo
	url = git@github.com:Peacehomesdevelopment/odoo.git
	branch = 17.0

[submodule "Peacehomesdevelopment/Realestate"]
	path = Peacehomesdevelopment/Realestate
	url = git@github.com:Peacehomesdevelopment/Realestate.git
	branch = main
